/*Header Section*/
* {
    text-decoration: none;
}

.container {
   overflow: hidden; 
   display: flex;
   justify-content: flex-end;
}


/* Top Page Bar, selection */

nav {
  display: flex;
  border: 1px solid #ffffff;
  margin-right: 10rem;
  margin-top: 2.0rem;
}

nav a {
  color: white;
  margin: 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: lucida sans unicode;
}

nav a:hover {
    color: #3884FF;
}

.logo {
    border: 1px solid #ffffff;
    margin-right: 60rem;
    font-size: 2rem;
    color: white;
    font-family: lucida sans unicode;
    font-weight: bold;
}

/* Body Section */

body {
    background: #02060E;
    height: 100vh;
}

section {
    height: 100vh;
}

h1 {
    color: #ffffff; 
    font-family: lucida sans unicode;
    font-size: ;
}



/*Footer Section*/

.footer {
    padding-top: 375px; 
}

/*Footer Bottom Strip*/

.fb-strip {
    height: 80px;
    background-color: rgb(27, 25, 25);
}

.footertexts {
    width: 50%;
    height: 10%;
    margin: auto;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    color: white;
    font-size: 17px;
    position: relative;
    top: 70%;

}

