:root {
    --clr-pink1: #AAF5EC;
}

.board {
    border: 1px solid black;
    width: 456px;
    height: 608px;
    margin:auto;
}

.pz {
    background-color: var(--clr-pink1);
    width: 150px;
    height: 150px;
}