

.mvc-container {
    margin: auto;
}

.todo-mvc-app:before { 
    content: attr(placeholder);
    color: lightgray;
    display: block;
    position:absolute;
    padding-left: 25px;
    padding-top: 15px;    
    font-family: "Campton", sans-serif;
}

.todo-mvc-app {
    width: 800px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    font-size: 70px;
    justify-content: flex-end;
    text-indent: 15px;
}

/* .todo-mvc-app:not([value=""]) {
    
} */

.todo-mvc-app:focus {
    
}

.todo-mvc-app:hover {
    cursor: pointer;
}

.todos {
    /* border: 1px solid black; */
    width: 800px;
    height: 800px;
    margin: auto;
    border-radius: 15px;
}

.todo {
    margin: 1px;
    height: 100px;
    width: 700px;
    border: 1px solid purple;
    border-radius: 15px;
    float:right;
    position: relative;
}

.todo:hover {
    cursor: pointer;
}

.todo-text {
    position: absolute;
    top: 5%;
    left: 2%;
}

.complete-button {
    position: relative;
    width: 95px;
    height: 100px;
    right: 400px;
    border-radius: 10px;
}

.complete-button:hover{
    cursor: pointer;
}